apiVersion: apps/v1
kind: Deployment
metadata:
  name: netflix-deployment
  namespace: netflix-ns
spec:
  replicas: 1  # Number of desired replicas
  selector:
    matchLabels:
      app: netflix
  template:
    metadata:
      labels:
        app: netflix
    spec:
      containers:
      - name: netflix
        image: monudocker334/netflix:latest
        ports:
        - containerPort: 3000  # Port your application listens on
